src/*.o
src/formats/*.o
src/zrtp/*.o
src/rtcp/*.o
src/srtp/*.o
src/crypto/*.o
libkvzrtp.a
*.a
*main
benchmarks/*/main_*
benchmarks/*/results
benchmarks/*/*data
benchmarks/*/*receiver
benchmarks/*/*sender
build/*
*.prof
*.user
tags
*a.out
docs/latex
/cmake-build*/
